export(DESeq)
export(DESeqDataSet)
export(DESeqDataSetFromHTSeqCount)
export(DESeqDataSetFromMatrix)
export(estimateDispersionsFit)
export(estimateDispersionsGeneEst)
export(estimateDispersionsMAP)
export(estimateSizeFactorsForMatrix)
export(getVarianceStabilizedData)
export(makeExampleDESeqDataSet)
export(nbinomLRT)
export(nbinomWaldTest)
export(plotDispEsts)
export(plotMA)
export(plotPCA)
export(removeResults)
export(results)
export(resultsNames)
export(rlogData)
export(rlogTransformation)
export(varianceStabilizingTransformation)
exportClasses(DESeqDataSet)
exportMethods("counts<-")
exportMethods("design<-")
exportMethods("dispersionFunction<-")
exportMethods("dispersions<-")
exportMethods("normalizationFactors<-")
exportMethods("sizeFactors<-")
exportMethods(counts)
exportMethods(design)
exportMethods(dispersionFunction)
exportMethods(dispersions)
exportMethods(estimateDispersions)
exportMethods(estimateSizeFactors)
exportMethods(normalizationFactors)
exportMethods(sizeFactors)
import(Biobase)
import(GenomicRanges)
import(IRanges)
importFrom(RColorBrewer,brewer.pal)
importFrom(genefilter,rowVars)
importFrom(locfit,locfit)
useDynLib(DESeq2)
