export("dispersionFunction<-")
export("dispersions<-")
export("normalizationFactors<-")
export(DESeq)
export(DESeqDataSet)
export(DESeqDataSetFromHTSeqCount)
export(DESeqDataSetFromMatrix)
export(DESeqResults)
export(dispersionFunction)
export(dispersions)
export(estimateDispersionsFit)
export(estimateDispersionsGeneEst)
export(estimateDispersionsMAP)
export(estimateSizeFactorsForMatrix)
export(getVarianceStabilizedData)
export(makeExampleDESeqDataSet)
export(nbinomLRT)
export(nbinomWaldTest)
export(normalizationFactors)
export(plotPCA)
export(removeResults)
export(replaceOutliers)
export(replaceOutliersWithTrimmedMean)
export(results)
export(resultsNames)
export(rlogData)
export(rlogDataFast)
export(rlogTransformation)
export(varianceStabilizingTransformation)
exportClasses(DESeqDataSet)
exportClasses(DESeqResults)
exportMethods("counts<-")
exportMethods("design<-")
exportMethods("sizeFactors<-")
exportMethods(counts)
exportMethods(design)
exportMethods(dispersionFunction)
exportMethods(dispersions)
exportMethods(estimateDispersions)
exportMethods(estimateSizeFactors)
exportMethods(normalizationFactors)
exportMethods(plotDispEsts)
exportMethods(plotMA)
exportMethods(show)
exportMethods(sizeFactors)
import(BiocGenerics)
import(GenomicRanges)
import(IRanges)
import(Rcpp)
import(RcppArmadillo)
import(methods)
importFrom(RColorBrewer,brewer.pal)
importFrom(genefilter,filtered_p)
importFrom(genefilter,rowVars)
importFrom(geneplotter,plotMA)
importFrom(lattice,draw.key)
importFrom(lattice,xyplot)
importFrom(locfit,locfit)
useDynLib(DESeq2)
